# {{ ansible_managed }}
#!/bin/sh
echo "Backup Starting `date`"
curl -X GET -u "{{ opnsense_backup_opnsense_key }}":"{{ opnsense_backup_opnsense_key_secret}}" -o /conf/backup/opnsense_backup-`date -j +"%Y-%m-%d-%H:%M:%S"`.xml 'https://{{ opnsense_backup_url }}/api/backup/backup/download'
setenv B2_APPLICATION_KEY_ID {{ opnsense_backup_backblaze_key_id }}
setenv B2_APPLICATION_KEY {{ opnsense_backup_backblaze_key }}
b2 authorize-account
b2 sync --keepDays 90 /conf/backup b2://{{ opnsense_backup_bucket }}/{{ opnsense_backup_bucket_folder }}
echo "Backup Ending `date`"
